<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Employees Portal</h1>
		</div>
		<div>
			<h2>Welcome to employees system! </h2>

			<p>To see the existing employees, please, click the link bellow.</p>
			<div class="well">
				<b>Enter the employees page: </b><a th:href="@{/employees}">employees</a>
			</div>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>